/* Общие стили */
* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f4f4f9;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
}

h1,
h2 {
	color: #2c3e50;
}

h1 {
	text-align: center;
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
	padding-top: 10px;
	margin-bottom: 10px;
}

/* Сайдбар */
#sidebar {
	flex-basis: 30vw;
	max-width: 35vw;
	padding: 10px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px;
}

#warehouse-buttons {
	display: flex;
	justify-content: center;
	gap: 12px;
	padding: 10px 0px;
}

.warehouse-button {
	background-color: #3498db;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
	width: auto;
}

.warehouse-button:hover {
	background-color: #2980b9;
	border: 2px solid black;
}

.warehouse-button.active-warehouse {
	background-color: #2980b9;
	border: 2px solid black;
}

#product-search {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

#search-bar {
	width: calc(100% - 100px);
}

#product-input-pro {
	position: relative;
}

.suggestions {
	/* border: 1px solid #ccc; */
	border-top: none;
	position: absolute;
	top: 100%; /* Позиционируем под полем ввода */
	left: 3%;
	background-color: white;
	z-index: 1000;
	width: 94%; /* Или установите конкретную ширину */
	max-height: 150px;
	overflow-y: auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Добавляем тень для лучшей видимости */
}

.suggestion-item {
	padding: 8px;
	cursor: pointer;
}

.suggestion-item:hover {
	background-color: #ddd;
}

/* Основной контент */
#content {
	flex-grow: 1;
	padding: 10px;
	margin: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: calc(100% - 40px);
}

/* Стили для ввода и выбора */
input[type='text'],
input[type='number'],
select {
	width: 100%;
	padding: 10px;
	margin-right: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1rem;
}

#product-actions label,
#product-actions input,
#product-actions select,
#product-actions button {
	display: block;
	width: calc(100% - 20px);
	margin: 0 auto 15px auto;
}

button {
	background-color: #3498db;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
	width: auto;
}

button:hover {
	background-color: #2980b9;
}

#find-button {
	background-color: #3498db;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
	width: auto;
}

#find-button:hover {
	background-color: #2980b9;
}

/* Контейнер для таблицы на складе и истории изменений */
.table-container {
	max-height: 300px;
	overflow-y: auto;
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td {
	padding: 8px 10px;
	border: 1px solid #ddd;
	text-align: left;
	font-size: 0.9rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table th:nth-child(1),
.table td:nth-child(1) {
	width: 30%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
	width: 25%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
	width: 25%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
	width: 20%;
}

.table th {
	background-color: #f8f8f8;
	font-weight: bold;
}

.highlight {
	background-color: lightgreen;
	transition: background-color 0.3s ease;
}

#undo-button {
	background-color: #e74c3c;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
}

#undo-button:hover {
	background-color: #c0392b;
}

.content-header {
	display: flex;
	justify-content: space-between;
}

/* Адаптивные стили */
@media (max-width: 992px) {
	#sidebar {
		flex-basis: 100%;
		max-width: 100%;
		margin: 10px;
	}

	#content {
		flex-basis: 100%;
		max-width: 100%;
		margin: 20px 0;
	}
}

@media (max-width: 576px) {
	h1 {
		font-size: 1.5rem;
	}

	h2 {
		padding-top: 5px;
		font-size: 1.2rem;
	}

	#product-actions label,
	#product-actions input,
	#product-actions select,
	#product-actions button {
		width: 100%;
	}

	button {
		font-size: 0.8rem;
		padding: 8px 16px;
	}

	input[type='text'],
	input[type='number'],
	select {
		font-size: 0.8rem;
		margin-bottom: 15px;
	}

	#product-search {
		flex-direction: column;
		align-items: stretch;
	}

	.suggestions {
		left: 0;
		width: 100%;
	}
}
